@use "global" as *;

.about {
  // padding: 0 rem(100);
  background-image: url(../images/common/about__bg.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;

  @include mq('md'){
    background-size: cover;
  }
}

.about__inner {
  max-width: rem(800);
  padding-top: rem(150);
  padding-bottom: rem(200);

  @include mq('md'){
    max-width: rem(600);
    padding-top: rem(120);
    padding-bottom: rem(120);
  }
}

.about__text {
  font-size: rem(16);
  line-height: 1.875;
  letter-spacing: 0.03em;
  margin: rem(20) auto 0;
  width: calc( 900 / 1440 * 100vw);
  max-width: rem(900);

  @include mq('md'){
    width: 100%;
    max-width: rem(500);
  }
}
