@use 'global' as *;

.button {
  font-size: rem(24);
  font-weight: $normal;
  font-family: $second-font-family;
  color: $black;
  position: relative;
  width: rem(220);
  padding: rem(50) rem(50) rem(50) rem(100);


  @include mq('md'){
    font-size: rem(18);
    width: rem(150);
    padding: rem(30) rem(30) rem(30) rem(60);
  }
}

.button::before {
  content:"";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid $black;
  border-radius: 50%;
  border-right-color: transparent;
  height: 100px;
  width: 100px;
  transition: .3s;

  @include mq('md'){
    height: 60px;
    width: 60px;
  }
}

.button::after {
  content: "";
  position: absolute;
  top: rem(48);
  // transform: translateY(-50%);
  left: rem(37);
  width: rem(180);
  height: rem(30);
  border: none;
  border-right: 1px solid $black;
  border-bottom: 1px solid $black;
  transform: skew(45deg);
  transition: .3s;

  @include mq('md'){
    width: rem(120);
    height: rem(20);
    top: rem(31);
    left: rem(20);
  }
}

// .button:hover::before {
//   transform: rotate(360deg);
// }

.button:hover::after{
  width: rem(260);

  @include mq('md'){
    width: rem(120);
  }
}

/*====================================
# button--little
====================================*/
.button.button--little {
  font-size: rem(18);
  padding: rem(20) rem(20) rem(20) rem(58);
  transition: all 0.3s ease 0s;

  // @include mq('md'){
  //   font-size: rem(14);
  // }
}

.button.button--little::before {
  height: rem(60);
  width: rem(60);
  left: rem(16);

  // @include mq('md'){
  //   height: 40px;
  //   width: 40px;
  // }
}

.button.button--little::after {
  width: rem(123);
  height: rem(20);
  top: rem(22);
  left: rem(28);

  // @include mq('md'){
  //   width: rem(80);
  //   height: rem(20);

  // }
}
.button.button--little:hover::after {
  width: rem(140);
  // height: rem(20);
  // top: rem(22);
  // left: rem(28);

}
