@use 'global' as *;

.contact {
  padding-top: rem(100);
  background-color: $bg-green;
  padding-bottom: rem(60);

  @include mq('md'){
    padding-top: rem(75);
    padding-bottom: rem(10);
  }
}

.contact__inner {
  max-width: rem(1200);
}

.contact__container {
  max-width: rem(800);
  margin: rem(60) auto rem(106);

  @include mq('md'){
    margin: rem(45) auto rem(140);
  }
}

.contact__form {
  // margin-top: rem(60);

  // @include mq('md'){
  //   margin-top: rem(40);
  // }
}
