@use "global" as *;

.header {
  width: 100%;
  height: rem(80);
  background-color: rgba($color: #fff, $alpha: 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8888;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  height: inherit;
  align-items: center;
  width: inherit;
  padding: 0 $padding-sp;
}

.header__left {
  position: relative;
  z-index: 9999;
  width: calc( 120 / 375 * 100vw);
  max-width: rem(150);
}

.header__logo {
  width: inherit;
}

.header__logo img {
  width: inherit;
}

.hamburger {
  display: none;

  @include mq('md'){
    display: block;
    z-index: 9999;
  }
}

.hamburger span {
  @include mq('md'){
    position: relative;
    display: block;
    height: rem(2);
    width: rem(22);
    background: $ac-color;
    border-radius: rem(1);
    transition: transform 0.3s ease 0s;
  }
}

.hamburger span:nth-child(1) {
  top: 0;
}

.hamburger span:nth-child(2) {
  margin: rem(4) 0;
}

.hamburger span:nth-child(3) {
  top: 0;
}

/*OPEN時の動き*/
.hamburger.open span:nth-child(1) {
  top: 5px;
  transform: rotate(45deg);
}

.hamburger.open span:nth-child(2) {
  transform: translateY(-50%);
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  top: -7px;
  transform: rotate(-45deg);
}

/*is-OPEN時の中身*/
@keyframes open{
  from{
      opacity: 0;
  }
  to{
      opacity: 1;
  }
}

.drawer-menu {
  display:none;

  @include mq('md'){
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: none;
    opacity: 0;
    transition: opacity 1s ease 0s;
  }
}

/*OPEN時の動き*/
.drawer-menu.open {
  display: block;
  opacity: 1;
  background-color: $white;
  animation: open 1s ease 0s;
}

.drawer-menu__items {
  margin: rem(209) auto;
}

.drawer-menu__item {
  display: block;
  text-align: center;

  &:not(:last-child) {
    margin-bottom: rem(32);
  }
}

.drawer-menu__item a {
  font-family: $second-font-family;
  color: $ac-color;
  letter-spacing: 0.125em;
  font-size: rem(16);
  width: inherit;
  height: inherit;
}

html.is-fixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

/*===========================================
pc-nav
===========================================*/
.pc-nav {
  height: inherit;
  display: block;

  @include mq('md'){
    display: none;
  }
}

.pc-nav__items {
  height: inherit;
  display: flex;
  align-items: center;
}

.pc-nav__item {
  height: inherit;
}

.pc-nav__item a {
  font-family: $second-font-family;
  font-size: rem(24);
  letter-spacing: 0.05em;
  display: grid;
  place-items: center;
  padding: 0 rem(17.2);
  position :relative;
  transition: all 0.3s ease 0s;
  color: $ac-color;
  height: inherit;
}

.pc-nav__item--contact a {
  font-family: $second-font-family;
  font-size: rem(24);
  color: $white;
  letter-spacing: 0.05em;
  padding: rem(9) rem(17.2);
  background-color: $ac-color;
  border-radius: rem(30);
  position :relative;
  place-items: center;
  // display: grid;
  // height: inherit;
  transition: all 0.3s ease 0s;
}
.pc-nav__item a:hover::after {
  position: absolute;
  content:"";
  width: 80%;
  height: 1px;
  bottom: 8px;
  left: 50%;
  transform: translateX(-50%);
  // background-color: $yellow;
  box-sizing: content-box;
}

.pc-nav__item.pc-nav__item--white {
  margin-left: rem(16);
}

.pc-nav__item.pc-nav__item--white a {
  background-color: $white;
  padding: 0 rem(32);
  // color: $gray;
  letter-spacing: 0.1em;
}

.pc-nav__item.pc-nav__item--white a:hover {
  // background-color: $gray;
  // color: $white;
}

.pc-nav__item.pc-nav__item--white a:hover::after {
  display: none;
}
