@use 'global' as *;


.workspage-item__title {
  font-weight: $normal;
  font-size: rem(40);

  @include mq('md'){
    font-size: rem(32);
    text-align: center;
    line-height: 1.2;
  }
}
.workspage-item:nth-child(even) {
  .workspage-item__title {
    text-align: right;

    @include mq('md'){
      text-align: center;
    }

    @include mq('lg'){
      text-align: center;
    }
  }
}

.workspage-item__link {
  width: 100%;
  display: block;
  margin-top: rem(30);
}

.workspage-item__container {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  margin-top: rem(20);

  @include mq('md'){
    display: block;
    margin-top: 0;
  }

  @include mq('lg'){
    display: block;
  }
}
// .workspage-item:nth-child(odd) {
//   flex-direction: row-reverse;
// }
.workspage-item:nth-child(even) {
  .workspage-item__container {
    flex-direction: row-reverse;

  }
}

.workspage-item:not(:first-child) {
  margin-top: rem(120);

  @include mq('md'){
    margin-top: rem(80);
  }
}

.workspage-item__left {
  width: 45%;
  text-align: center;

  @include mq('md'){
    width: 100%;
    margin-top: rem(20);
    margin-bottom: rem(20);
  }

  @include mq('lg'){
    width: 100%;
    margin-bottom: rem(20);
  }

}

.workspage-item__img {
  border-radius: rem(30);
  object-fit: cover;
}

.workspage-item__button {
  display: inline-block;
  margin: rem(40) auto;

  @include mq('md'){
    margin: rem(40) auto;
  }
}

.workspage-item__basic {
  font-size: rem(24);

  @include mq('md'){
    font-size: rem(18);
  }
}

.workspage-item__basic span {
  font-size: rem(16);
  line-height: 1.2;
}

.workspage-item__right {
  width: 50%;

  @include mq('md'){
    width: 100%;
  }

  @include mq('lg'){
    width: 100%;
  }
}

.workspage-item__flows {
  text-align: left;

  @include mq('md'){
    text-align: center;
  }

  @include mq('lg'){
    text-align: center;
  }
}

.workspage-item__text {
  font-size: rem(24);
  line-height: 1.65;
  letter-spacing: 0.03em;
  margin-top: rem(20);

  @include mq('md'){
    font-size: rem(18);
  }
}

.workspage-item__point-container {
  margin-top: rem(30);
}

.workspage-item__point {
  font-size: rem(30);
  font-family: $second-font-family;
  display: inline-block;
  padding-bottom: rem(4);
  position: relative;
  line-height: 1;

  @include mq('md'){
    display: inline-block;
    text-align: center;
  }
}

.workspage-item__point::after {
  content: "";
  position: absolute;
  width: 100%;
  height: rem(1);
  bottom: 0;
  left: 0;
  background-color: $d-green;
}

.workspage-item__list {
  margin-top: rem(10);
}

.workspage-item__list li{
  list-style: decimal;
  list-style-position: inside;
  line-height: 1.7;
  font-size: rem(20);

  @include mq('md'){
    font-size: rem(16);
  }
}
